<!DOCTYPE HTML>
<html>
<head>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <form method="post" action="/setUser">
        <input name="name" type="text">
        <input type="submit" value="Send">
    </form>

</div>

</body>
<script type="text/javascript">
</script>
</html>